:root{
    --font-prompt-bold: "PromptBold";
    --font-lato-italic: "LatoItalic";
    --font-lato-bold-italic: "LatoBoldItalic";
    --font-roboto-regular: "RobotoRegular";
    --font-roboto-bold: "RobotoBold";
}